#错误：找不到符号类ConstructorProperties，这个错误解决就是设置成true，
#跳过添加一个@java.bean.ConstructorProperties生成的构造器
lombok.anyConstructor.suppressConstructorProperties=true
#这个就是子类的这两个方法也会生成父类的属性在里面，不然会有警告,'@EqualsAndHashCode(callSuper=false)'
lombok.equalsandhashcode.callsuper=true
#链式setter方法
lombok.accessors.chain=true
#防止lombok在父级目录中搜索配置文件，可用如下配置指定lombok根目录
config.stopBubbling = true